{{#if story }}
    {{#with story}}
        <div>
            <h1>{{ title }}</h1>
        </div>
        <div>
            <h2> {{ createdAt }} </h2>
        </div>
        <div>
            <p cla> {{ content }} </p>
        </div>
        
        <form class= "" action = "/story/{{id}}?_method=DELETE" method="POST">
        <input type="submit" value="Remove">
        </form>

                <form class= "" action = "./editStory.hbs" method="GET">
        <input type="submit" value="Edit">
        </form>
    {{/with}}
{{/if}}


{{#if comments.length}}
  {{#each comments}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ content }}
        </span>
      </div>
      <div class="card-action">
        <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
        <span class="story__date">{{ createdAt }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}





<div class="card">
  <div class="card-content">
    <h4 class="card-title">Add a comment:</h6>
    <form method="POST" action="/story/{{story.id}}?_method=PUT" class="row">
      <p class="input-field inline col s10">
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p class="input-field inline col s2">
        <input class="btn" type="submit" value="Submit">
      </p>
    </form>
  </div>
</div>
